<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload Image</title>
</head>
<body>
    <h2>Upload</h2>

    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
        <br>
        <div>
            {% if image %}
                <img src="static/images/{{ image }}" alt="image">
            {% endif %}
        </div>
        <input type="submit" value="Upload">
    </form>
</body>
</html>
